* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

:root {
  --primary: #032CA6;
  --secondary: #FFA500;
  --light: #FFFFFF;
  --dark: #121212;
  --text: #333333;
  --background: #F8F9FA;
} 